<!-- <% if params["change"] == "ship_name" %>
  <h1>Change Ship Name</h1>
<% end %>

<% if params["change"] == "ship_cost" %>
  <h1>Change Ship Cost</h1>
<% end %>

<% if params["change"] == "ship_type_id" %>
  <h1>Change Ship Type</h1>
<% end %>

<% if params["change"] == "location_id" %>
  <h1>Change Ship Location</h1>
<% end %> -->

<% if params["change"] == "ship" %>
  <h1>Change Ship</h1>
<% end %>

<% if params["change"] == "type" %>
  <h1>Change Type Name</h1>
<% end %>

<% if params["change"] == "location" %>
  <h1>Change Location Name</h1>
<% end %>

<a href=/home>Go to home page</a>