<% if params["new"] == "ship" %>
  <h1>New Ship Entry</h1>

<% end %>

<% if params["new"] == "type" %>
  <h1>New Ship Type Entry</h1>

<% end %>

<% if params["new"] == "location" %>
  <h1>New Location Entry</h1>

<% end %>


<a href=/home>Go to home page</a>