<h1>EVE Inventory Manager</h1>

<p>What would you like to do?</p>

<ul>
  <li><a href=/list/main>Look at a list</a></li>
  <li><a href=/list/new_record_main>Enter a new record</a></li>
  <li><a href=/list/change_record_main>Change a record</a></li>
  <li><a href=/list/delete_record_main>Delete a record</a></li>
</ul>