<!--Page that lists the results after clicking on a ship type and hitting submit -->
<!--Shows the ships referenced by the type id listed -->
<h1>Ships in type <%= @type_to_look.ship_type %></h1>
<% total_cost = 0 %>
id - Ship Name    -  Ship Cost         - Ship Location ID
<ul>
     <% @type_to_look.ships_where_type_matches.each do |name| %>
       <li><%= "#{name.id} - #{name.ship_name} - #{name.cost.to_s(:delimited)} ISK - #{name.ship_locations_id}" %></li>
       <% total_cost += name.cost %>
     <% end %>
</ul>

Total cost of ships of this type:

<%= total_cost.to_s(:delimited) %> ISK
<p><a href=/home>Go to home page</a></p>
